{% extends 'base.html' %}

{% block content %}

<h1>Debt Dashboard</h1>
<a href="/dashboard/">Back to main dashboard</a>

<hr>
{% if friends %}
    <h3>Add new common account</h3>

    <form>
        <label for="cars">Choose a friend:</label>
        <select id="friend" name="friend">
        {% for friend in friends %}
            <option value="{{friend}}">{{friend}}</option>
        {% endfor %}
        </select>
        <input type="submit" class="btn" value="Create" name="btt">
    </form>
{% endif %}


<hr>

{% if common_accs %}
    {% for acc, other_user, debt in common_accs %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{other_user.username}}</h5>
            <a href="/common_account/?q={{acc.id}}" class="btn btn-primary">Go into account</a>
            </div>
        </div>
    {% endfor %}
{% endif %}


{% endblock %}