<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<body class="second-body">
    <div class="text">
        <h1 class="title">Welcome to UoMe</h1>
        <h3 class="sub-title">Start keeping track of friend debt today!</h3>
    <a href="/register/"><button type="button" class="btn btn-outline-*">Sign Up</button></a>  
    </div>
    
</body>


<style>
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.btn {
    background-color: #F8680C;
    border-color: white;
    border-width: 3px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: white;
    color: #F8680C;
    transform: scale(1.075);
}

.second-body{
    background-color: #F8680C;
}

.text{
    padding-top: 45px;
    color: white;
    text-align: center;
    margin-top: 20vh;
    
}

.title{
    font-weight: bold;
    font-size: 10vh;
}

.sub-title{
    font-size: 5vh;
    opacity: 0.80;
    padding-bottom: 40px;
}


</style>
