<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}

Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        Your information:
        <br><br>
        E-mail: {{user.email}}
        <br><br>
        First name: {{user.first_name|default:"Not defined"}}
        <br><br>
        Last name: {{user.last_name|default:"Not defined"}}
        <br><br>
        Owed: {{user.profile.owed}}
        Debt: {{user.profile.debt}}
        <br><br>
        Network:
        <ul>
        {% for i in network %}
        <li>{{i}}</li>
        {% endfor %}
        </ul>
        <br><br>
        <a href="{% url 'logout' %}">Logout</a>
        <br><br>
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}

